nav.sidebar {
    position: sticky;
    top: 2rem;
    align-self: start;

    font-size: smaller;
}

nav.sidebar ol {
    list-style: none;
    padding-left: 1em;
}

nav.sidebar a {
    text-decoration: none;
}

/* All sections below the top-level ones are hidden by default. */
nav.sidebar ol.local-toc li li {
    display: none;
}

/* Sections which intersect the viewport of the main area and their
   ancestors are active. Active sections are visible. */
nav.sidebar ol.local-toc li.active {
    display: block;
}

/* Children of active sections are visible. */
nav.sidebar ol.local-toc li.active > ol > li {
    display: block;
}

nav.sidebar ol.local-toc a {
    opacity: .5;
}

nav.sidebar ol.local-toc li.active > a {
    opacity: .9;
}
